@use "mixins" as *;
@use "layers" as *;

$screenEdgeOffset: 5px;

.container {
	$triggerSize: 60px;

	--opacity: 1;

	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: $screenEdgeOffset;
	height: auto;
	width: $triggerSize;
	aspect-ratio: 1/1;
	z-index: $layer10;
	opacity: var(--opacity);

	@include addStandardTransition(opacity);

	.content {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		padding: 6px;

		@include addBoxStyling();
		@include addStandardTransition(border-color);

		svg {
			width: 100%;
			height: 100%;

			path {
				fill: var(--color-primary1);

				@include addStandardTransition(fill);
			}
		}

		&:hover {
			border-color: var(--color-accent1);

			svg {
				path {
					fill: var(--color-accent1);
				}
			}
		}

		&:active {
			border-color: var(--color-accent3);

			svg {
				path {
					fill: var(--color-accent3);
				}
			}
		}
	}
}
