@use "mixins" as *;
@use "layers" as *;

$screenEdgeOffset: 5px;

.container {
	$triggerSize: 60px;

	--opacity: 1;

	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: $screenEdgeOffset;
	height: auto;
	width: $triggerSize;
	aspect-ratio: 1/1;
	z-index: $layer10;
	opacity: var(--opacity);

	@include addStandardTransition(opacity);

	.content {
		display: flex;
		flex: 1;

		cursor: pointer;

		@include addBoxStyling();
		@include addStandardTransition(border-color);

		&:hover {
			border-color: var(--color-accent1);
		}

		&:active {
			border-color: var(--color-accent3);
		}
	}
}
