{
	"trailingComma": "all",
	"tabWidth": 4,
	"semi": true,
	"singleQuote": false,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"useTabs": true,
	"printWidth": 75,
	"htmlWhitespaceSensitivity": "strict",
	"jsxSingleQuote": false,
	"jsxBracketSameLine": true
}
