@use "mixins" as *;
@use "layers" as *;

$edgeOffset: 5px;

.container {
	$triggerSize: clamp(30px, 20%, 80px);

	display: flex;
	padding: $edgeOffset;
	height: auto;
	width: $triggerSize;
	aspect-ratio: 1/1;

	.content {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		padding: 6px;
		background-color: transparent;

		@include hideOutline;

		@include addStandardChildSVGStyling;
	}
}
