@mixin addCardSizeSetup() {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.container {
	width: clamp(400px, 45vw, 1200px);
	height: auto;
	perspective: 1000px;
	aspect-ratio: 1/1;
	padding: 6px;

	--rotation: 0;

	.content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;

		transition: transform 0.6s;
		transform-style: preserve-3d;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transform: rotateY(var(--rotation));

		.front {
			@include addCardSizeSetup;
			background-color: var(--color-bg2);
		}

		.back {
			background-color: var(--color-success3);

			transform: rotateY(180deg);

			@include addCardSizeSetup;
		}
	}
}
