@use "mixins" as *;
@use "layers" as *;

$edgeOffset: 5px;

.container {
	$triggerSize: 100%;

	display: flex;
	padding: $edgeOffset;
	height: auto;
	width: $triggerSize;
	aspect-ratio: 1/1;

	.content {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		padding: 1px;
		background-color: transparent;

		@include hideOutline;

		svg {
			width: 100%;
			height: 100%;
		}

		path,
		circle,
		rect {
			&.fill {
				fill: var(--color-primary1);

				@include addStandardTransition(fill);
			}

			&.stroke {
				stroke: var(--color-primary1);

				@include addStandardTransition(stroke);
			}
		}

		&:hover {
			path,
			circle,
			rect {
				&.fill {
					fill: var(--color-accent1);
				}

				&.stroke {
					stroke: var(--color-accent1);
				}
			}
		}

		&:active {
			path,
			circle,
			rect {
				&.fill {
					fill: var(--color-accent3);
				}

				&.stroke {
					stroke: var(--color-accent3);
				}
			}
		}

		&:disabled {
			pointer-events: none;
			opacity: 0.2;
		}
	}
}
