@mixin addCardSizeSetup() {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.container {
	background-color: transparent;
	width: 300px;
	height: 300px;
	perspective: 1000px;

	--rotation: 0; // 180deg

	.content {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.6s;
		transform-style: preserve-3d;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

		transform: rotateY(var(--rotation));

		.front {
			background-color: #bbb;
			color: black;

			@include addCardSizeSetup;
		}

		.back {
			background-color: #2980b9;
			color: white;
			transform: rotateY(180deg);

			@include addCardSizeSetup;
		}
	}
}
