@mixin addCardSizeSetup() {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.container {
	background-color: var(--color-bg2);
	width: clamp(400px, 45vw, 1200px);
	height: auto;
	perspective: 1000px;
	aspect-ratio: 1/1;
	padding: 10px;

	--rotation: 0;

	.content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;

		.top {
			height: 40px;
			width: 100%;
		}

		.middle {
			display: flex;
			flex: 1;

			transition: transform 0.6s;
			transform-style: preserve-3d;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			transform: rotateY(var(--rotation));
		}
		.bottom {
			height: 140px;
			width: 100%;
		}

		.front {
			background-color: #bbb;

			@include addCardSizeSetup;
		}

		.back {
			background-color: #2980b9;

			transform: rotateY(180deg);

			@include addCardSizeSetup;
		}
	}
}
