@mixin addBoxStyling() {
	background-color: var(--color-bg3);
	color: var(--color-text1);
	border: 1px solid var(--color-primary1);
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 16px;
	overflow: hidden;
	font-weight: bold;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

@mixin hideScrollbar {
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@mixin generateCssVariablesFromMap($theme-map, $prefix) {
	@each $name, $color in $theme-map {
		--#{$prefix}-#{$name}: #{$color};
	}
}

@mixin hideOutline {
	outline: none;
	border-width: 0;
	outline-width: 0;
}

@mixin addStandardTransition($property) {
	transition: $property 0.3s linear;
}

@mixin addStandardChildSVGStyling() {
	svg {
		width: 100%;
		height: 100%;

		path {
			fill: var(--color-primary1);

			@include addStandardTransition(fill);
		}
	}

	&:hover {
		svg {
			path {
				fill: var(--color-accent1);
			}
		}
	}

	&:active {
		svg {
			path {
				fill: var(--color-accent3);
			}
		}
	}

	&:disabled {
		pointer-events: none;
		opacity: 0.2;
	}
}
