@use "mixins" as *;
@use "themes/dark" as *;
@use "themes/light" as *;
@use "themes/monokai" as *;
@use "themes/calm" as *;
@use "themes/forest" as *;

:root {
	@include generateCssVariablesFromMap($dark-color-theme, "color");
}

html,
body,
#root {
	background: transparent;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: var(--color-bg2);
}
