@use "mixins" as *;
@use "themes/dark" as *;
@use "themes/light" as *;
@use "themes/monokai" as *;
@use "themes/calm" as *;
@use "themes/forest" as *;

:root {
	@include generateCssVariablesFromMap($dark-color-theme, "color");
}

body {
	width: 100vw;
	height: 100vh;

	.App {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		background-color: var(--color-bg2);
	}
}
