@use 'constants' as *;

body {
  width: 100vw;
  height: 100vh;

  .App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $bg2;
  }
}