@use "mixins" as *;

.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;

    @include addContainerStyling()
}