@use "mixins" as *;
@use "layers" as *;

$screenEdgeOffset: 5px;

@mixin addTopAndBottomStyling() {
	display: flex;
	justify-content: space-between;
	background-color: var(--color-bg2);
	height: fit-content;
}

.container {
	$containerWidth: 80px;

	--position-left-closed: -20vw;
	--position-left-open: 0;
	--position-left: var(--position-left-closed);

	display: flex;
	width: $containerWidth;
	height: fit-content;
	position: absolute;
	left: var(--position-left);
	bottom: 0;
	z-index: $layer20;
	padding: $screenEdgeOffset;

	@include addStandardTransition(left);

	.content {
		display: flex;
		flex: 1;
		flex-direction: column;

		@include addBoxStyling();
	}
}
