@use "mixins" as *;
@use "layers" as *;

$screenEdgeOffset: 5px;

.container{
    $containerWidth: clamp(220px, 20vw , 500px);

    --position-left: -50vw;

    display: flex;
    width: $containerWidth;
    height: 100%;
    position: absolute;
    left: var(--position-left);
    top:0;
    z-index: $layer30;
    transition-duration: 0.35s;
    transition-property: left;
    transition-timing-function: linear;
    padding: $screenEdgeOffset;

    .content {
        display: flex;
        flex:1;
        gap: 40px;
        flex-direction: column;

        @include add-container-styling()
    }
}